/* Estilo da barra lateral */
.sidenav {
    background-color: #4e609b; /* Fundo azul escuro */
    width: 200px; /* Largura fixa */
}

/* Estilo dos links na barra lateral */
.sidenav a {
    color: #fff; /* Texto branco */
}

/* Espaçamento entre ícones e texto nos links */
.sidenav i {
    padding-right: 10px;
}

/* Estilo do conteúdo principal */
.content {
    padding: 16px; /* Espaçamento interno */
    background-color: #ffffff; /* Fundo branco */
}

/* Cor padrão dos ícones */
.material-icons {
    color: #000000; /* Preto */
}