/* Estiliza o formulário para usar um layout flexível em coluna */
form {
    display: flex; 
    flex-direction: column; 
}

/* Estiliza o botão com margens específicas */
button {
    margin: 20px 15px 0px 0px; /* Define as margens: superior, direita, inferior e esquerda */
    /*width: 1689px; /* Define a largura do botão */
    height: 40px; /* Define a altura do botão */
    background-color: #314791; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Define bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    font-size: 16px; /* Define o tamanho da fonte do texto do botão */
    font-weight: bold; /* Define o peso da fonte como negrito */
    text-align: center; /* Centraliza o texto dentro do botão */
    transition: all 0.3s ease; /* Suaviza as mudanças de estilo */
}

/* Efeito neon ao passar o mouse */
button:hover {
    box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 0px #00ff00; /* Efeito de brilho neon */
    background-color: #3b5998; /* Leve alteração na cor de fundo */
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* Efeito neon no texto */
}

/* Animação ao clicar */
button:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho do botão */
    box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00; /* Reduz o brilho ao clicar */
    text-shadow: 0 0 3px #00ff00, 0 0 5px #00ff00; /* Reduz o brilho do texto ao clicar */
}